.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide-down {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; /* Adjust the duration as needed */
}


/* profile page: divider curve  >>*/
.custom-shape-divider-top-1693453063 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  /* background-image: url('/public/logo192.png'); */

  line-height: 0;
}

.custom-shape-divider-top-1693453063 svg {
  position: relative;
  display: block;
  /* background-image: url('/public/logo192.png'); */

  height: 500px;
}

.custom-shape-divider-top-1693453063 .shape-fill {
  /* fill: #FFFFFF; */
  background-image: url('/public/logo192.png');
  background-size: cover; /* Adjust this property as needed */
}
/* << */
@tailwind base;
@tailwind components;
@tailwind utilities;